* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Header-main {
  width: 100%;
  height: 60px;
  background: #32cd32;
  display: flex;
  align-items: center;
}

.Header-logo {
  box-sizing: border-box;
  padding: 15px;
}

.Header-logo h1 {
  margin: 0;
}

.logo {
  text-decoration: none;
  color: #fff;
}

.logo img {
  width: 150px;
}

.content {
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginFormContainer {
  width: 400px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 40px;
  box-shadow: 2px 2px 20px 0px #0000001a;
}

.LoginFormContainer h2 {
  text-align: center;
}

.loginForm {
  width: 100%;
  height: 90%;
}

.loginForm label,
input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #2f373d9c;
}

.loginForm input {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.loginForm input:focus,
.BackButton:focus {
  outline: none;
  border: 1px solid #32cd32;
}

.LoginButton {
  background: #32cd32;
  color: #fff;
  margin: 20px 0 0 0;
  cursor: pointer;
}

.LoginButton:hover,
.BackButton:hover {
  background: #26a026;
}

.UserDataContainer {
  width: 80%;
  height: 700px;
  background: #f0efef;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 40px;
  box-shadow: 2px 2px 20px 0px #0000001a;
}

.UserDataTitle {
  text-align: center;
  font-weight: normal;
}

.UserDataCTA {
  text-align: center;
}

.AccountsContainer {
  height: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Account {
  background: #32cd32;
  box-sizing: border-box;
  max-height: 150px;
  width: 30%;
  height: 45%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
}

.Account:hover {
  background: #26a026;
}

.Account a {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  width: 100%;
  height: 100%;
}

.Account a span {
  margin: 5px;
}

.AccountDetailsContainer {
  width: 30%;
  min-width: 380px;
  height: 500px;
  background: #f0efef;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 40px;
  box-shadow: 2px 2px 20px 0px #0000001a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.AccountDetails {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.AccountDetails span {
  margin: 10px 0;
}

.BackButton {
  background: #32cd32;
  color: #fff;
  margin: 20px 0 0 0;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 70px;
  text-decoration: none;
  text-align: center;
}

.pagenumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagenumbers button {
  width: 50px;
  height: 50px;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: #32cd32;

  margin: 5px;
  transition: 0.4s;

  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
  background-color: #26a026;
}

.pagenumbers button.active {
  background-color: #26a026;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}
